@import 'reset';
@import 'mixins';
/*-------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- PAGE COLORS ---------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/* 
#2A2B30 velvet black rgba(31, 32, 36, 0.8);
#24252a dar velvet black
rgb(92, 94, 220) purple
rgb(230, 233, 240) codrops light gray
*/

$fixed-navbar-background: rgba(31, 32, 36, 1);
$sidebar-background: rgba(31, 32, 36, 0.4);
$header-background: rgba(31, 32, 36, 0.8);
$main-section-background: rgba(230, 233, 240, 1);
$footer-background: #333;
/*-------------------------------------------------------------------------------------------------*/

@import 'pages/page';
@import 'pages/about';
@import 'pages/projects';
@import 'pages/blog';
@import 'pages/sayhi';
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- DEVICE WIDTHS -------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

$mobile-width: 600px;
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*----------------------------------------- CONTAINER STYLING  ------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'Manifesto';
    src: url(../fonts/manifesto.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/raleway.ttf) format('truetype');
}

@font-face {
    font-family: 'Great Vibes';
    src: url(../fonts/greatvibes.otf);
}

@font-face {
    font-family: 'Seaside';
    src: url(../fonts/seaside_resort.ttf) format('truetype');
}

@font-face {
    font-family: 'Walkway Bold';
    src: url(../fonts/Walkway_Bold.ttf) format('truetype');
    letter-spacing: 2px;
    font-weight: 100;
}

@font-face {
    font-family: 'Walkway SemiBold';
    src: url(../fonts/Walkway_SemiBold.ttf) format('truetype');
    letter-spacing: 2px;
    font-weight: 100;
}

html {}

body {
    background-image: url('../img/stars_9.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.container {
    /*-------------------------------------------------------------------------------------------------*/
    /*----------------------------------------- MAIN NAVBAR STYLING -----------------------------------*/
    /*-------------------------------------------------------------------------------------------------*/
    
    perspective: 500px;
    .main_body_container {
        overflow: scroll;
        @include transition(.3s all ease-out);
        .fixed_navbar {
            position: fixed;
            top: 0;
            width: 100%;
            height: 60px;
            background: $fixed-navbar-background;
            box-shadow: 3px 0px 10px 1px rgba(0, 0, 0, 0.5);
            text-align: center;
            .logo {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-image: url("../img/logo_2.png");
                background-size: 50px;
                background-repeat: no-repeat;
                margin: 5px auto 0px;
                border: 1px solid white;
                background-position-x: -2px;
            }
            .navbar_menu_entry {
                position: absolute;
                top: 20px;
                left: 15px;
                background: url(../img/icons/menu.png);
                cursor: pointer;
            }
            @media screen and (min-width: $mobile-width + 1) {
                .navbar_menu_entry {
                    display: none;
                }
            }
        }
        /*-------------------------------------------------------------------------------------------------*/
        /*-------------------------------------------------------------------------------------------------*/
        /*--------------------------------------------- REST OF BODY --------------------------------------*/
        /*-------------------------------------------------------------------------------------------------*/
        
        .rest_of_body {
            background: yellow;
            position: relative;
            overflow: hidden;
            margin-top: 60px;
            
            /*-------------------------------------------------------------------------------------------------*/
            /*-------------------------------------------------------------------------------------------------*/
            /*-------------------------------------------- MAIN SECTION ---------------------------------------*/
            /*-------------------------------------------------------------------------------------------------*/
            
            .main_section {
                background: blue;
                width: 100%;
            }
            /*-------------------------------------------------------------------------------------------------*/
            /*-------------------------------------------------------------------------------------------------*/
            /*-------------------------------------------- FOOTER STYLING -------------------------------------*/
            /*-------------------------------------------------------------------------------------------------*/
            
            footer {
                background: $footer-background;
                height: 100px;
            }
        }
    }
    /*-------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------------*/
    /*------------------------------------------------ SIDE BAR ---------------------------------------*/
    /*-------------------------------------------------------------------------------------------------*/
    
    .sidebar {
        position: fixed;
        color: white;
        font-family: 'Walkway SemiBold';
        letter-spacing: 2px;
        .navbar_items {}
    }
    @media screen and (max-width: $mobile-width) {
        .sidebar {
            width: 100%;
            height: 100%;
            left: -100%;
            top: 0px;
            background: rgba(0, 0, 0, 0.1);
            @include transition(.5s all ease-out);
            .side_menu {
                width: 100%;
                height: 100%;
                background: $sidebar-background;
                box-shadow: 3px 0px 10px 1px rgba(0, 0, 0, 0.5);
                //border-right: 3px solid white;
                position: relative;
                .navbar_menu_back_button {
                    display: block;
                    float: right;
                    background-image: url(../img/icons/multiply.png);
                    margin: 10px;
                    cursor: pointer;
                    height: 30px !important;
                    width: 30px !important;
                    background-size: 30px !important;
                    margin-bottom: 50px;
                }
                .navbar_item_icon {
                    margin-right: 15px;
                    vertical-align: sub;
                }
                ul {
                    position: relative;
                }
                .navbar_items {
                    position: absolute;
                    display: block;
                    height: 50px;
                    box-sizing: border-box;
                    width: 100%;
                    @include transform-origin(left, center);
                    @include transform(rotateY(90deg));
                    padding: 10px 15px;
                    @include transition(.3s all linear);
                }
                .sidebar_list_left {
                    margin-top: 30px;
                    clear: both;
                    .navbar_items:nth-child(1) {
                        top: 0px;
                    }
                    .navbar_items:nth-child(2) {
                        top: 50px;
                    }
                }
                .sidebar_list_right {
                    .navbar_items:nth-child(1) {
                        top: 100px;
                    }
                    .navbar_items:nth-child(2) {
                        top: 150px;
                    }
                }
            }
        }
    }
    @media screen and (min-width: $mobile-width + 1) {
        .sidebar {
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0);
            box-shadow: 3px 0px 10px 1px rgba(0, 0, 0, 0.2);
            .side_menu {
                .navbar_menu_back_button {
                    display: none;
                }
                .navbar_item_icon {
                    display: none;
                }
                ul {
                    height: 60px
                }
                .navbar_items {
                    display: inline-block;
                    font-size: 16px;
                    width: 100px;
                    height: 40px;
                    margin-top: 10px;
                    padding-top: 12px;
                    text-align: center;
                    &:hover {
                        cursor: pointer;
                    }
                    position: relative;
                    box-sizing: border-box;
                    overflow: hidden;
                    &:hover:before {
                        left: 0;
                    }
                    &:hover:after {
                        right: 0;
                    }
                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background: white;
                        @include transition(all .3s ease-out);
                    }
                    &:before {
                        left: -100%;
                        top: 0;
                    }
                    &:after {
                        right: -100%;
                        bottom: 0;
                    }
                }
                .sidebar_list_left {
                    width: 45%;
                    float: left;
                    .navbar_items {
                        float: right;
                    }
                }
                .sidebar_list_right {
                    width: 45%;
                    float: right;
                    .navbar_items {}
                }
            }
        }
    }
}
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- GENERAL -------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 20px 20px !important;
    background-repeat: no-repeat;
}

.about_icon {
    background-image: url(../img/icons/user_1.png);
}

.projects_icon {
    background-image: url(../img/icons/projects.png);
}

.blog_icon {
    background-image: url(../img/icons/blog.png);
}

.contact_icon {
    background-image: url(../img/icons/contact.png);
}
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- ACTIONS -------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

.push_back {
    pointer-events: none;
    @include transform-origin(right, center);
    @include transform(translateX(100px) rotateY(-25deg) scale(0.7));
}

.sidebar_show {
    left: 0px !important;
}

.navbar_item_reveal {
    @include transform(rotateY(0deg) !important);
}
/*-------------------------------------------------------------------------------------------------*/
