$contact-wrapper-height: 70px;
$contact-form-element-width: 60%;
.main_section {
    .say-hi {
        background: #24252a;;
        .contact_form_wrapper {
            position: absolute;
            height: 100%;
            width: 100%;
            
            overflow: hidden;
            .contact_form_element {
                position: absolute;
                width: 100%;
                @include transition(.5s all ease-in-out);
                & > * {
                    box-sizing: border-box;
                    height: 100%;
                    margin: 0 auto;
                    display: block;
                    padding: 0px 10px;
                    font-family: 'Walkway SemiBold', sans-serif;
                    box-shadow: 0px 2px 3px 1px rgba(92, 94, 220, 0.2);
                }
                label {
                    position: absolute;
                    top: 0;
                    color: black;
                    background: rgba(220, 220, 220, 1);
                    color: rgb(92, 94, 220);
                    pointer-events: none;
                    @include transition(.2s all ease-out);
                }
                input {
                    background: #333;
                    color: white;
                    border: 0px;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .contact_progress_button {
                display: inline-block;
                width: 30px;
                height: 30px;
                background-size: 30px 30px;
                position: absolute;
                cursor: pointer;
            }
            .backward {
                background-image: url('../img/up_arrow.png');
                top: calc(50% - 30px);
            }
            .forward {
                background-image: url('../img/down_arrow.png');
                top: calc(50%);
            }
            .contact_submit_button {
                display: inline-block;
                width: 120px;
                height: 40px;
                box-sizing: border-box;
                background: transparent;
                position: absolute;
                left: calc(50% - 60px);
                top: calc(50% + 25px + 20px);
                color: rgb(92, 94, 220);
                border: 1px solid rgb(92, 94, 220);
                text-transform: uppercase;
                font-family: 'Walkway SemiBold', sans-serif;
                font-size: 18px;
                overflow: hidden;
                cursor: pointer;
                &:focus {
                    outline: 0px;
                }
            }
            @media screen and (max-width: 600px) {
                .contact_form_element {
                    height: 50px;
                    top: calc(50% - 25px);
                    & > * {
                        width: 70%;
                        font-size: 20px;
                    }
                    label {
                        left: 15%;
                        padding-top: 16px;
                    }
                    input {
                        &:focus + label {
                            top: -50px;
                        }
                        &:valid + label {
                            top: -50px;
                        }
                    }
                }
                .contact_progress_button {
                    right: calc(15% - 30px - 10px);
                }
                .backward {}
                .forward {}
            }
            @media screen and (min-width: 601px) {
                .contact_form_element {
                    height: 70px;
                    top: calc(50% - 35px);
                    & > * {
                        width: 60%;
                        font-size: 30px;
                    }
                    label {
                        left: 20%;
                        padding-top: 24px;
                    }
                    input {
                        &:focus + label {
                            top: -70px;
                        }
                        &:valid + label {
                            top: -70px;
                        }
                    }
                }
                .contact_progress_button {
                    right: calc(20% - 30px - 10px);
                }
                .backward {}
                .forward {}
            }
        }
        .contact_past {
            top: -100% !important;
        }
        .contact_future {
            top: 200% !important;
        }
        .contact_submit_banner {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            transition: all 1s ease-in-out;

            .contact_submit_svg {
            	width: 100%;
            	height: 100%;
            }
        }
    }
}

.curtain_button {
    &:before, &:after {
        content: 'SUBMIT';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-size: 18px;
        padding-top: 9px;
        box-sizing: border-box;
    }
    &:before {
        transform-origin: left bottom;
        transform: rotate(-90deg);
        color: silver;
        transition: all .1s ease-out;
    }
    &:after {
        transform-origin: right bottom;
        transform: rotate(90deg);
        color: white;
        transition: all .3s ease-out;
    }
    &:hover:before,
    &:hover:after {
        transform: rotate(0deg);
    }
}
